<div id="admin"> 
    <a href="{{ path('admin_login')}}">Админка</a>
    {% if app.user %}
        </br>Здравствуйте, {{ app.user.username }}</br>
        <a href="{{ path('admin_logout')}}">Выход</a>
    {% endif %}
</div>