<ul>
    {% for page in pages %}
        <li>
            <a {% if currentUri == page.url %} class="active" {% endif %} href="{{ path('show_page', {url: page.url|slice(1)}) }}">
                {{ page.name }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="/'">
                Главная
            </a>
        </li>
    {% endfor %}
</ul>